<div id="<%= dom_id volunteer %>">
  <p>
    <strong>First name:</strong>
    <%= volunteer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= volunteer.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= volunteer.phone_number %>
  </p>

  <p>
    <strong>Insurance carrier:</strong>
    <%= volunteer.insurance_carrier %>
  </p>

  <p>
    <strong>Medical record:</strong>
    <%= volunteer.medical_record_id %>
  </p>

</div>
